body {
  margin: 1em;
  font: 1.2rem/1.4 Georgia, serif;
}
.quote {
  margin: 0;
  width: 50%;
  border-radius: 1em;
  background-color: white;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
